<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala {{ sala_id }} - SandLock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body class="dark-theme">
    <div class="container">
        <header class="header">
            <h1>🔒 SendLock</h1>
            <span class="badge">Sala: {{ sala_id }}</span>
            {% if is_admin %}
                <span class="badge admin-badge">👑 Administrador</span>
            {% else %}
                <span class="badge guest-badge">👤 Convidado</span>
            {% endif %}

            <main class="card">
                <h2>Compartilhamento de Arquivos</h2>
                <p>Envie arquivos temporários sem necessidade de cadastro.</p>

                <div class="upload-box">
                    <p>Arraste os arquivos aqui ou clique para selecionar</p>
                    <input type="file" id="fileInput" hidden>
                    <button class="btn-primary" onclick="document.getElementById('fileInput').click()">Selecionar Arquivos</button>
                </div>
            </main>
        </header>
    </div>
    
</body>
</html>